.navlink {
  color: #000000;
}
.navlink:hover {
  color: #81d4fa;
}

.barger {
  color: white;
}

.barger:hover {
  color: yellow;
}

.footer {
  background-color: black;
}

.blogpostimage {
  width: 100%;
  height: 800px;
}

@media (max-width: 320px) {
  .blogpostimage {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .blogpostimage {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .blogpostimage {
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 1224px) {
  .blogpostimage {
    width: 70%;
    height: 700px;
  }
}

/*
.indexpostimage {
  width: 100%;
  height: 300px;
}

@media (max-width: 320px) {
  .indexpostimage {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .indexpostimage {
    width: 100%;
    height: 250px;
  }
}
*/

.showGrid {
}

@media (min-width: 321px) and (max-width: 480px) {
  .showGrid {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 320px) {
  .showGrid {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .showGrid {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .showGrid {
    width: 600px;
    height: auto;
  }
}
@media (min-width: 1224px) {
  .showGrid {
    width: 300px;
    height: auto;
  }
}

.blogCard {
  transition: transform 0.2s ease;
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}
.blogCard:hover {
  transform: scale(1.1);
}
